

<p-button class="p-button-success" label="Agregar Libro" (click)="mostrarDialogo()" ></p-button>

<p-card *ngFor="let i of datosCard" header="{{i.titulo}}" subheader="{{i.ISBN}}" [style]="{width: '360px',margin: '20px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://images.cdn3.buscalibre.com/fit-in/360x360/72/0c/720c378e9bfedc6ccd77ecc7c8680c06.jpg">
    </ng-template>
    <p>Este libro describe las magicas aventuras de un principe que viaja en distintos planetas</p>
    <ng-template pTemplate="footer">
        <p><b>Autor:</b> {{i.autor}}</p>
        <p><b>Editorial:</b> {{i.editorial}}</p>
        <div style="margin-top: 10px;">
            <button style="margin-right:10px;" pButton pRipple type="button" (click)="mostrarEditar(i)" icon="pi pi-pencil" class="p-button-rounded p-button-outlined"></button>
            <button pButton pRipple type="button" (click)="mostrarEliminar(i)" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
        </div>
    </ng-template>
</p-card>

<p-dialog header="{{textoBoton}}" [(visible)]="modalVisible">
    Ingrese la Informacion del nuevo libro

    <form [formGroup]="libro">
        <span class="p-float-label m-4" >
            <input type="text" pInputText formControlName="titulo">
            <label for="float-input">Titulo</label>
        </span>
        <span class="p-float-label m-4">
            <input type="text" pInputText formControlName="autor">
            <label for="float-input">Autor</label>
        </span>
        <span class="p-float-label m-4" >
            <input type="text" pInputText formControlName="editorial">
            <label for="float-input">Editorial</label>
        </span>
        <span class="p-float-label m-4" >
            <input type="number" pInputText formControlName="ISBN">
            <label for="float-input">ISBN</label>
        </span>
        <input type="file" pInputText accept="imagen/*" (change)="cargarImagen($event)">
        <p><b>Imagen serleccionada:</b> </p><img  [src]="imagen" alt="sin imagen" width="50px" height="50px" style="margin: 5px;"><br>

        <p-button class="p-button-success" label="{{textoBoton}}" (click)="cargarDatos()" ></p-button>
    </form>
    
</p-dialog>


<!-- para eliminar -->
<p-dialog header="¡¡¡ADVERTENCIAA!!" [(visible)]="eliminarVisible">
    <h4>¿Desea eliminar este libro?</h4>
    <button pButton pRipple type="button" icon="pi pi-times" (click)="eliminarVisible=false" class="p-button-rounded p-button-danger p-button-outlined"></button>
    <button style="margin-right:10px;" pButton pRipple type="button" (click)="borrarLibro()" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>
</p-dialog>